#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.green {
  background-color: green;
}

.red {
  background-color: rgb(133, 0, 0);
}

p {
  font-size: 1.5em;
}

a{
  display: block;
  padding: 0.2em;
  margin: 0.1em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
}

a.selected-question{
  background-color: rgb(0, 0, 255);
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5em;
}

label {
  display: block;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: left;
  font-size: 1.2em;
}

.next-button {
  margin-top: 1em;
  padding: 0.5em 1em;
  font-size: 1.2em;
  cursor: pointer;
}